@tailwind base;
@tailwind components;

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner 1.2s linear infinite;
}

@tailwind utilities;
